<!-- 7.6 For Loops -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Job Scrapper</title>
</head>

<body>
  <h1>Search Results for "{{keyword}}":</h1>
  <!-- for문 시작 -->
  {% for job in jobs %}
  <div>
    <span>{{job.title}}</span>
    <span>{{job.company}}</span>
    <span>{{job.reward}}</span>
    <a href="{{job.link}}" target="_blank">Apply now &rarr;</a>
  </div>
  {% endfor %}
</body>

</html>